body{
    background: #4D4D4D;
}
#wrapper{
    background-color: #ffffff;
    position: relative;
    background-image: url('asset/image/clock.gif');
    background-size: contain;
    width: 500px;
    height: 500px;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: auto;
    box-shadow: 3px 0px 34px 5px #ccc;
    
}
#hour_hand{
    position: absolute;
	left: 240px;
	top: 155px;
	background-image: url('asset/image/hour.png');
	height: 100px;
	width: 20px;
	background-size: 20px 100px;
	transform-origin: 50% 95%;
}
#minute_hand{
    position: absolute;
	left: 240px;
	top: 80px;
	background-image: url('asset/image/min.png');
	height: 180px;
	width: 20px;
	background-size: 20px 180px;
	transform-origin: 50% 95%;
}
#second_hand{
    position: absolute;
	left: 237px;
	top: 80px;
	background-image: url('asset/image/sec-e.png');
	height: 180px;
	width: 30px;
	background-size: 30px 180px;
	transform-origin: 45% 95%;
}
#date{
    color: brown;
    font-weight: 500;
    font-size: 12px;
    position: absolute;
    top: 48%;
    left: 70%;
    border: 1px solid #4D4D4D;
    padding: 1px 5px;
}
